# Ignore local build outputs and bulky directories from Docker context
.git
.gitignore
.dockerignore
/.idea/
/.vscode/
nbproject/private/
/uploads/
/dist/
/build/
/out/
*.iml
*.log
*.tmp
*.war
*.zip
*.tar
*.tar.gz
*.jar
**/*.jpg
**/*.png
**/*.jpeg
**/*.gif
**/*.mp4
**/*.mov
**/*.avi
**/*.pdf
